<!-- NAVBAR -->
<div class="bg-[#01021c] flex text-white" id="navbar">
  <div class="flex ms-auto space-x-10 mr-[40px] text-[20px] h-[50px] items-center navbar">
    <ul class="flex space-x-10 mr-[20px] text-[20px] h-[50px] items-center">
      <li>
        <a href="#about" class="relative after:content-[''] after:absolute after:w-0 after:h-[2px] after:bg-[#05f7ef] after:left-0 after:-bottom-1 hover:after:w-full after:transition-all after:duration-300">About
        </a>
      </li>
      <li>
        <a href="#techs" class="relative after:content-[''] after:absolute after:w-0 after:h-[2px] after:bg-[#05f7ef] after:left-0 after:-bottom-1 hover:after:w-full after:transition-all after:duration-300">Technologies
        </a>
      </li>
      <li>
        <a href="#projects" class="relative after:content-[''] after:absolute after:w-0 after:h-[2px] after:bg-[#05f7ef] after:left-0 after:-bottom-1 hover:after:w-full after:transition-all after:duration-300">Projects
        </a>
      </li>
      <li>
        <a href="#contactMe" class="relative after:content-[''] after:absolute after:w-0 after:h-[2px] after:bg-[#05f7ef] after:left-0 after:-bottom-1 hover:after:w-full after:transition-all after:duration-300">Contact
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="bg-[#01021c] flex h-[520px] pt-[30px]" id="about">
  <div class="bg-[#01021c] text-white ms-5 w-[520px] my-auto">
    <h1 class="text-[70px]" id="tittleName">Daniel Arevalo</h1>
    <h1 class="text-[30px] ps-1" id="softwareDeveloper">Software Developer</h1>
    <div class="ps-1.5 space-x-4 iconsHeader">
      <a href="https://github.com/DanWanheda1822" target="_blank">
        <i class="devicon-github-original text-[25px] hover:text-gray-400"></i>
      </a>
      <a href="https://www.linkedin.com/in/daniel-ar%C3%A9valo-998b21320/" target="_blank">
        <i class="devicon-linkedin-plain text-[25px] hover:text-blue-400 transition"></i>
      </a>
      <a href="">
        <i class="bx bxl-gmail text-[25px] hover:text-red-400 transition cursor-pointer"></i>
      </a>
    </div>
  </div>
  <div class="text-white ms-auto mr-[60px] w-[500px] my-auto textInfo">
    <h1 class="text-center" id="aboutMe">About me</h1>
    <h1 class="text-justify ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem aperiam voluptas harum ipsam tempora, nisi est dicta, laboriosam architecto non quia iure temporibus deleniti? Veniam tempora dolores rerum reprehenderit sed.</h1>
    <div class="text-white ms-3">
     <h2 class="text-[20px] font-medium mt-4">Experience:</h2>
      <ul class="list-disc list-inside mt-1">
        <li>Intern as backend developer in GoIt.SA</li>
        <li>Software Engineering student in second year</li>
      </ul>
  </div>
  </div>
</div>

    <div class="bg-[#01021c]" id="techs">
    <!-- ICONS -->
    <div class="text-white text-center pt-[60px] iconsTech">
    <h1 class="text-[50px]" id="technologies">Technologies</h1>
    <div class="flex flex-wrap justify-center gap-4 mt-[20px] max-w-[950px] mx-auto">
      <!-- JAVA -->
      <div class="w-[150px] h-[45px] bg-[#28292b] flex items-center justify-center space-x-2 rounded-md shadow-md hover:scale-105 hover:shadow-lg transition-all duration-300">
        <h1 class="text-white text-[18px] font-medium">Java</h1>
        <i class="devicon-java-plain colored text-[24px]"></i>
      </div>
      <!-- SPRING -->
      <div class="w-[150px] h-[45px] bg-[#28292b] flex items-center justify-center space-x-2 rounded-md shadow-md hover:scale-105 hover:shadow-lg transition-all duration-300">
        <h1 class="text-white text-[18px] font-medium">Spring</h1>
        <i class="devicon-spring-original colored text-[24px]"></i>
      </div>
      <!-- MySQL -->
      <div class="w-[150px] h-[45px] bg-[#28292b] flex items-center justify-center space-x-2 rounded-md shadow-md hover:scale-105 hover:shadow-lg transition-all duration-300">
        <h1 class="text-white text-[18px] font-medium">MySQL</h1>
        <i class="devicon-mysql-original colored text-[24px]"></i>
      </div>
      <!-- CSS -->
      <div class="w-[150px] h-[45px] bg-[#28292b] flex items-center justify-center space-x-2 rounded-md shadow-md hover:scale-105 hover:shadow-lg transition-all duration-300">
        <h1 class="text-white text-[18px] font-medium">CSS</h1>
        <i class="devicon-css3-plain colored text-[24px]"></i>
      </div>
      <!-- HTML -->
      <div class="w-[150px] h-[45px] bg-[#28292b] flex items-center justify-center space-x-2 rounded-md shadow-md hover:scale-105 hover:shadow-lg transition-all duration-300">
        <h1 class="text-white text-[18px] font-medium">HTML</h1>
        <i class="devicon-html5-plain colored text-[24px]"></i>
      </div>
      <!-- Angular -->
      <div class="w-[150px] h-[45px] bg-[#28292b] flex items-center justify-center space-x-2 rounded-md shadow-md hover:scale-105 hover:shadow-lg transition-all duration-300">
        <h1 class="text-white text-[18px] font-medium">Angular</h1>
        <i class="devicon-angular-plain colored text-[24px]"></i>
      </div>
      <!-- Swagger -->
      <div class="w-[150px] h-[45px] bg-[#28292b] flex items-center justify-center space-x-2 rounded-md shadow-md hover:scale-105 hover:shadow-lg transition-all duration-300">
        <h1 class="text-white text-[18px] font-medium">Swagger</h1>
        <i class="devicon-swagger-plain colored text-[24px]"></i>
      </div>
      <!-- Git -->
      <div class="w-[150px] h-[45px] bg-[#28292b] flex items-center justify-center space-x-2 rounded-md shadow-md hover:scale-105 hover:shadow-lg transition-all duration-300">
        <h1 class="text-white text-[18px] font-medium">Git</h1>
        <i class="devicon-git-plain colored text-[24px]"></i>
      </div>
    </div>
  </div>
  </div>


    <!-- PROJECTS -->
    <div class="bg-[#01021c] text-white pt-[250px]" id="projects">
      <h1 class="text-[50px] text-center" id="projects">My Projects</h1>
      
      <div class="flex flex-wrap">
        <!-- CARD PROJECT -->
        <div class="flex flex-wrap mx-auto space-x-[50px] mt-5 mb-5">
        <div class="group">
          <div class="w-[250px] h-[300px] bg-amber-400 rounded-xl">
            <div class="w-[250px] h-[250px] bg-amber-600 rounded-t-xl group-hover:h-[180px] transition-all duration-500">
              <img src="" alt="">
            </div>
            <div class="w-[250px] h-[50px] rounded-b-xl bg-red-600 text-center group-hover:h-[120px] transition-all duration-500">
              <h1 class="text-[25px] pt-2">Project Tittle</h1>
              <p class="text-sm opacity-0 max-h-0 group-hover:opacity-100 group-hover:max-h-[100px] transition-all duration-300 ease-in mt-1">
                Java - MySQL - Java Swing
              </p>
            </div>
          </div>
        </div>
        <!-- CARD PROJECT -->
        <div class="group">
          <div class="w-[250px] h-[300px] bg-amber-400 rounded-xl">
            <div class="w-[250px] h-[250px] bg-amber-600 rounded-t-xl group-hover:h-[180px] transition-all duration-500">
              <img src="" alt="">
            </div>
            <div class="w-[250px] h-[50px] rounded-b-xl bg-red-600 text-center group-hover:h-[120px] transition-all duration-500">
              <h1 class="text-[25px] pt-2">Project Tittle</h1>
              <p class="text-sm opacity-0 max-h-0 group-hover:opacity-100 group-hover:max-h-[100px] transition-all duration-300 ease-in mt-1">
                Java - MySQL - Java Swing
              </p>
            </div>
          </div>
        </div>
        <!-- CARD PROJECT -->
        <div class="group">
          <div class="w-[250px] h-[300px] bg-amber-400 rounded-xl">
            <div class="w-[250px] h-[250px] bg-amber-600 rounded-t-xl group-hover:h-[180px] transition-all duration-500">
              <img src="" alt="">
            </div>
            <div class="w-[250px] h-[50px] rounded-b-xl bg-red-600 text-center group-hover:h-[120px] transition-all duration-500">
              <h1 class="text-[25px] pt-2">Project Tittle</h1>
              <p class="text-sm opacity-0 max-h-0 group-hover:opacity-100 group-hover:max-h-[100px] transition-all duration-300 ease-in mt-1">
                Java - MySQL - Java Swing
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>


<!-- CONTACT FORM -->
<div class="bg-[#01021c] mt-[50px] pb-10 text-white pt-[200px]">
  <h1 class="text-[50px] text-center" id="contactMe">Contact Me</h1>

  <!-- ÍCONOS DE REDES -->
  <div class="flex justify-center gap-6 mt-4 mb-6">
    <a href="https://github.com/" target="_blank">
      <i class='bx bxl-github text-[30px] hover:text-gray-400 transition'></i>
    </a>
    <a href="https://linkedin.com/" target="_blank">
      <i class='bx bxl-linkedin text-[30px] hover:text-blue-400 transition'></i>
    </a>
  </div>

  <!-- FORMULARIO -->
  <div id="contact-form" class="border-2 border-gray-400 w-[600px] rounded-md mx-auto p-6 space-y-4 bg-[#111226]">

    <!-- Nombres -->
    <div>
      <label for="nameInput" class="text-[15px]">Complete Names:</label><br>
      <input type="text" id="nameInput" class="bg-white rounded-sm w-full h-[30px] px-2 text-black">
    </div>

    <!-- City and Phone -->
    <div class="flex gap-4">
      <div class="flex flex-col">
        <label for="cityInput" class="text-[15px]">City:</label>
        <input type="text" id="cityInput" class="bg-white rounded-sm w-[260px] h-[30px] px-2 text-black">
      </div>
      <div class="flex flex-col">
        <label for="phoneInput" class="text-[15px]">Phone:</label>
        <input type="text" id="phoneInput" class="bg-white rounded-sm w-[260px] h-[30px] px-2 text-black">
      </div>
    </div>

    <!-- Message -->
    <div>
      <label for="commentInput" class="text-[15px]">Message:</label><br>
      <textarea id="commentInput" class="bg-white w-full h-[100px] rounded-sm px-2 py-1 text-black resize-none"></textarea>
    </div>

    <!-- Botón (opcional) -->
    <div class="text-center pt-2">
      <button class="bg-[#05f7ef] text-black px-5 py-2 rounded hover:bg-[#04c2c0] transition">
        Send Message
      </button>
    </div>
  </div>
</div>

