@keyframes bannersImg {
    0%{
        opacity: 0;
    } 100%{
        opacity : 1;
    }
}

/* .animateFadeIn{
    animation-name: bannersImg;
    animation-duration: 1s;
}

.fade-in{
    opacity: 0;
    transition: opacity 1s ease-out;
}

.fade-in.visible {
    opacity: 1;
  } */


/* .bannerOne{
    opacity:0;
} */

.bannerTwo{
    opacity : 0;
}

.bannerThree{
    opacity : 0;
}